body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.modal-c-tabs .nav {
  display: flex;
  justify-content: center;
}
.form-control {
  background-color: rgba(112, 147, 182, 0.7);
}
label {
  font-family: "Merienda One", cursive;
}
.md-form img {
  width: 24px;
  height: 24px;
}

.icon {
  width: 24px;
  height: 24px;
}

header nav {
  background-image: url(./../images/74.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 992px) and (max-width: 1500px) {
  .navbar {
    height: 100px;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
  .nav-item .nav-link.access {
    font-size: 25px;
  }
}

.mention {
  background-image: url(./../images/74.jpg);
  background-size: cover;
}

.modal-content {
  background-color: rgba(76, 180, 163, 0.7);
}

.header_text-box {
  background-image: url(./../images/faye-cornish-Uq3gTiPlqRo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}

.header_text-box p img {
  width: 35px;
  height: 35px;
}
.message-container,
.message-container1 p {
  font-family: "Merienda One", cursive;
}
.container-yoga {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advice img {
  width: 100px;
  height: 100px;
}

.advice h5 {
  font-size: 26px;
}
.advice h6 {
  font-size: 16px;
}

#tips {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}
#tips img {
  width: 60px;
  height: 60px;
  margin: 20px;
}
#tips div {
  margin: 0px 80px;
}

#tips h4 {
  font-family: "Tangerine", cursive;
  font-size: 4rem;
}

/* Pagina de faqs */
#questions {
  background-image: url(./../images/74.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
}
.question-container {
  margin-top: 200px;
  display: flex;

  width: 1000px;
  height: 40px;
  color: black;
  font-size: 30px;
  /* cuando el texto sube, encaja perfectamente con el container  */
  line-height: 40px;
  position: absolute;

  overflow: hidden;
}
.question-container ul {
  list-style: none;
  padding-left: 10px;
  animation: change 15s infinite;
}
.question-container ul,
p {
  margin: 0;
}
.header-faqs {
  display: flex;
  justify-content: center;
  background-color: black;
}
.header-faqs h1 {
  font-family: sans-serif;
  font-size: 8rem;
  color: transparent;
  background-image: url(./../images/faye-cornish-Uq3gTiPlqRo-unsplash.jpg);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px white;
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }

  25% {
    margin-top: -40px;
  }
  35% {
    margin-top: -40px;
  }

  40% {
    margin-top: -80px;
  }
  50% {
    margin-top: -80px;
  }

  55% {
    margin-top: -120px;
  }
  65% {
    margin-top: -120px;
  }

  70% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }

  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }

  100% {
    margin-top: 0;
  }
}
/* Footer */
#last-section {
  display: flex;
  justify-content: space-around;
  background-image: url(./../images/7758.jpg);
  background-size: cover;
}
iframe {
  width: 500px;
  height: 400px;
  border-color: silver;
  border-width: 10px;
}
