.modal-c-tabs .nav {
  display: flex;
  justify-content: center;
}
.form-control {
  background-color: rgba(112, 147, 182, 0.7);
}
label {
  font-family: "Merienda One", cursive;
}
.md-form img {
  width: 24px;
  height: 24px;
}

.icon {
  width: 24px;
  height: 24px;
}

@media (min-width: 992px) and (max-width: 1500px) {
  .navbar {
    height: 100px;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
  .nav-item .nav-link.access {
    font-size: 25px;
  }
}

.mention {
  background-color: aquamarine;
}

.modal-content {
  background-color: rgba(76, 180, 163, 0.7);
}

.header_text-box {
  background-image: url(./../images/faye-cornish-Uq3gTiPlqRo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}
.header_text {
}
.header_text-box p img {
  width: 35px;
  height: 35px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advice img {
  width: 50px;
  height: 50px;
}

.advice h5 {
  font-size: 26px;
}
.advice h6 {
  font-size: 16px;
}
